name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_RED_FIELD_0776AA000 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"

          ###### Repository/Build Configurations ######
          app_location: "/"              # Angular source (where angular.json is)
          api_location: ""               # No API here
          output_location: "dist/calling-appUI/browser"  # <- updated to browser folder
          ###### End of Repository/Build Configurations ######
